@charset "UTF-8";

.request-rent {
  box-sizing: border-box;

  background-image: url('../../assets/helpers/background-request.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
}

.request-rent__title {
  color: azure;
  font-family: 'TTBold';
  font-size: 2.5rem;
  text-shadow: 1.7px 1.7px #eb3d11;
  line-height: 5px;
}

.request-rent__description {
  color: rgb(253, 253, 253);
}
.request-rent__description p {
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 1.7px 1.7px #eb3d11;
}

/*-------------------request-rent-form  и request-rent-big-form--------------*/
.request-rent__form {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.request-rent__form p {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.request-rent__item {
  margin-bottom: 15px;
}

.request-rent__item label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.request-rent__item input,
.request-rent__item textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.request-rent__item_red input,
.request-rent__item_red textarea {
  border-color: red;
}

.request-rent__checkbox {
  display: flex;
  flex-direction: column;
}

.request-rent__checkbox label {
  display: flex;
  align-items: center;
}

.real-checkbox {
  display: none; /* Скрываем стандартный чекбокс */
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  position: relative;
}

.real-checkbox:checked + .custom-checkbox {
  background-color: #007bff; /* Цвет при выборе */
}

.real-checkbox:checked + .custom-checkbox::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 7px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.request-rent__item textarea {
  height: 100px; /* Высота текстовой области */
}

@media (max-width: 850px) {
  .request-rent__title {
    font-size: 2rem;
    margin: 5px 0;
  }
  .request-rent__form {
    padding: 15px;
    font-size: 14px; /* Уменьшаем размер шрифта для планшетов */
    width: 80vw;
  }

  .request-rent__item input,
  .request-rent__item textarea {
    font-size: 14px; /* Уменьшаем размер шрифта для полей ввода */
    padding: 8px; /* Уменьшаем внутренние отступы */
  }
}

@media (max-width: 480px) {
  .request-rent__form {
    padding: 10px; /* Уменьшаем отступы для мобильных устройств */
    font-size: 12px; /* Уменьшаем размер шрифта для мобильных устройств */
  }

  .request-rent__item input,
  .request-rent__item textarea {
    font-size: 12px; /* Уменьшаем размер шрифта для полей ввода */
    padding: 6px; /* Уменьшаем внутренние отступы */
    height: auto; /* Автоматическая высота для текстовой области */
  }
}
