.technicSlider {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.technicSlider__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.technicSliderList {
  max-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.technicSlide {
  max-width: 100%;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 0 rgba(0 0 0 / 40%);
  border: 0px solid rgb(220, 220, 221);
}
.technicSlide.active {
  opacity: 1;
  border-width: 0.8px;
  box-shadow: 2px 4px 8px rgba(0 0 0 / 40%);
}

.technicSlide.active img {
  display: block;
}

.technicSlide:not(.active) img {
  display: none; /* Скрываем изображение в неактивных слайдах */
}

.technicSlide img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  object-position: center -1px;
}

@media (max-width: 1020px) {
  .technicSlide {
    max-height: 50vw;
  }
}

@media (max-width: 860px) {
  .technicSlide {
    max-height: 60vw;
  }
}
