.bike {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.technics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Slider*/
.slider-wrapper {
  position: relative;
}
